<template>
    <h1>Signal</h1>
    
    <h3>Contador en patrón angular : {{ countS() }} </h3>
    <button @click="countS.update(v=>v+1)">Incrementar</button>
    <button @click="countS.set(0)">Resetear contador</button>
    <hr>
    <h3>Contador con patrón solid: {{ count() }}</h3>
    <button @click="setCount((v=>v+1))">Increment</button>
    <hr>
    <h3>Contador con reactive: {{ countR.value }}</h3>
    <button @click="countR.value++">Increment</button>
    <hr>
    <h3>Uso del plugin, contador:  {{ $count() }}</h3>
    <button @click="$saySomething()">Di algo</button>
</template>

<script lang="ts" setup>
import { createSignal } from 'vue-signals/solid';
import { signal } from 'vue-signals/angular';
import { reactive } from 'vue';

const [count,setCount]=createSignal(0)
const countS =signal(0)

const countR=reactive({
  value:0
})

</script>

<style scoped>

</style>